/* gerais */
body{
    background: #fff url(/images/bg_geral.jpg) repeat-x top left;
    font-family:Tahoma, Helvetica, Arial;
}
a{
    outline:none;
}

ul, ol {
    list-style-position: inside;
    margin:0px;
    padding:0px;
}

/* header */

header{
    background-color:#fbfbfb;
    clear:both;
    float:left;
}
    header h1{
        background-color:#DBDBDB;
        clear:both;
        float:left;
        margin-bottom:0px;
        padding:15px 0px;
        text-align:center;
        width:200px;
    }
        header h1 a{
        }
        header small{
            background-color:#888;
            border-radius:10px;
            color:#fff;
            float:left;
            font-family:"Trebuchet MS", sans-serif;
            font-size:20px;
            height:35px;
            margin:15px 20px 15px 20px;
            padding:40px 0px 0px 10px;
            width:700px;
            -moz-border-radius:10px;
            -webkit-border-radius:10px;
        }
            header small span{
                color: #b3c7ea;
            }
        header div#tool_box{
            background-color:#fbfbfb;
            border-radius:0px 0px 10px 10px;
            float:right;
            font-size:14px;
            margin:-90px 40px 0px 0px;
            padding:10px;
            width:250px;
            text-align:right;
            -moz-border-radius:0px 0px 10px 10px;
            -webkit-border-radius:0px 0px 10px 10px;            
        }
            header div#tool_box span.name{
                color: #b3c7ea;
                font-weight:bold;
            }
            header div#tool_box img{
                cursor:pointer;
                vertical-align:text-top;
            }
            header div#tool_box ul{
                border:1px solid #CECECE;
                border-radius: 10px;
                display:none;                
                font-size:13px;
                position:absolute;
                list-style:none;                
                margin:0px 0px 0px 80px;
                padding:0px;
                text-align:left;
                width:170px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
bém            }
            header div#tool_box ul.show{
                display:block;                
            }
                header div#tool_box ul li{
                    background-color:#fbfbfb;
                    border-top:1px solid #EAEAEA;
                    margin-top:-1px;
                }
                header div#tool_box ul li:first-child{
                    border-radius: 10px 10px 0px 0px;
                    -moz-border-radius: 10px 10px 0px 0px;
                    -webkit-border-radius: 10px 10px 0px 0px;
                }
                header div#tool_box ul li:last-child{
                    border-radius: 0px 0px 10px 10px;
                    -moz-border-radius: 0px 0px 10px 10px;
                    -webkit-border-radius: 0px 0px 10px 10px;
                }
                header div#tool_box ul li:hover{
                    background-color:#dedede;
                }
                    header div#tool_box ul li a{
                        color:#666;
                        display:block;
                        padding:2px 5px;
                        text-decoration:none;
                    }

/* menu */ 
div#nav_menu{
    background: #fff url(/images/bg_menu.jpg) repeat-x top left;
    margin-right:0px;
    width:200px;
}
    div#nav_menu h4{
        border-bottom:1px solid #ccc;
        font-size:17px;
        margin:10px 0px 10px 10px;
    }
    div#nav_menu ul{
        list-style:none;
    }
        div#nav_menu ul#mensagens{
            margin-top:-10px;
        }
            div#nav_menu ul#mensagens li{
                margin-bottom:0px;
            }
        div#nav_menu ul li{
            color: #333;
            font-family:"Trebuchet MS", sans-serif;
            font-size:14px;
            margin:0px 0px 10px 10px;
        }
            div#nav_menu ul li a{
                color:#666;
                font-family:Tahoma, Helvetica, Arial;
                font-size:14px;
                font-weight:bold;
                margin-left:10px;
                text-decoration:none;
            }                
            div#nav_menu ul li a:hover,
            div#nav_menu ul li a:focus{
                text-decoration:underline;
            }
                div#nav_menu ul li a span{
                    color: #b3c7ea;
                    font-weight:bold;
                    margin-left:5px;
                }
            div#nav_menu ul li ul{
                padding:0px;
                margin-left:0px;
            }
                div#nav_menu ul li ul li{
                    margin-bottom:0px;
                }
                    div#nav_menu ul li ul li a{
                        font-weight:normal;
                        margin-left:0px;
                    }
                    


/* forms */
input[type=text],
input[type=password],
input[type=file],
select,
textarea{
    border-radius:5px;
    clear:left;
    float:left;
    font-family:Tahoma, Helvetica, Arial;
    font-size:18px;    
    padding:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
input[type=checkbox]{
    clear:none;
    float:left;
    font-size:18px;
    padding:5px;
}
select{
    padding:4px 5px;
}
textarea{
    width:auto;
}
div.file_field_download{
    clear:both;
    float:left;
}
label{
    clear:both;
    float:left;
    font-size:16px;
}
input[type=text].field_error,
input[type=password].field_error,
input[type=file].field_error,
select.field_error,
textarea.field_error{
    border-radius:5px 0px 0px 5px;    
    border-color:#fbc2c4;
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
}
input.button{
    float:left;
    margin-right:10px;
}
ul.error_list{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    border-left:none;
    border-radius:0px 5px 5px 0px;
    color:#8a1f11;
    float:left;
    list-style: none;
    margin:9px 0 0 0;
    padding:6.5px;
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
}
span#actions_bar{
    clear:both;
    float:left;
}
    span#actions_bar a{
        float:left;
        margin-right:10px;
    }
fieldset span{
    clear:left;
    float:left;    
    margin-bottom:10px;
}
    fieldset span span{
        clear:none;
        float:left;
    }
fieldset fieldset.date{
    border:none;
    clear:left;
    float:left;    
    margin-bottom:10px;
    padding:0px;
}
    fieldset fieldset.date select{
        float:none;
        margin:0px 5px;
    }
    fieldset fieldset.date select:first-child{
        margin-left:0px;
    }

span.cke_browser_gecko
{
    width:660px!important;    
}
table.cke_editor{
    width:650px!important;
}

a.new_register{
    color:#666;
    display:block;
    font-size:14px;
    font-weight:bold;
    margin-bottom:5px;
    text-decoration:none;
}
a.new_register:hover,
a.new_register:focus{
    text-decoration:underline;
}

span#actions_bar a{
    color:#666;
    font-size:14px;
    font-weight:bold;
    margin-top:6px;
    text-decoration:none;
}
span#actions_bar a:hover,
span#actions_bar a:focus{
    text-decoration:underline;
}

/* login */
div#content form#login fieldset{
    border-radius:10px;
    margin:20px 0px 20px 336px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
div#content form#login fieldset a{
    float:left;
    margin:5px 10px;
}

/* listagem */
table{
    background-color:#EAEAEA;
    font-family:Tahoma, Helvetica, Arial;
    -moz-border-radius:10px;
}
    table caption{
        background-color: #888;
        border-radius:10px 10px 0px 0px;
        color:#fff;
        font-size:14px;
        font-weight:bold;
        -moz-border-radius:10px 10px 0px 0px;
        -webkit-border-radius:10px 10px 0px 0px;
    }
        table caption span{
            color: #b3c7ea;
            margin-left:20px;
        }
    table thead tr th{
        background-color:#B2C6E9;
        color:#000;        
    }
    table tbody tr:hover{
        background:#f0f0f0;
    }
    table tbody tr td{
        vertical-align:top;
    }
    table tfoot tr td.results{
        text-align:right;
    }
    table tbody tr td.actions{
        width:70px;
    }
        table tbody tr td.actions a{
            background:transparent url(/images/user_edit.png) no-repeat top left;
            clear:none;
            float:left;
            height:16px;
            margin: 0px 3px;
            outline:none;
            text-indent: -1999em;
            width:16px;
        }
        table tbody tr td a.list_delete{
            background-image: url(/images/delete.png);
        }
        table tbody tr td a.list_edit{
            background-image: url(/images/edit.png);
        }
        table tbody tr td a.list_view{
            background-image: url(/images/zoom.png);
        }
        table tbody tr td a.list_accept{
            background-image: url(/images/tick.png);
        }
        table tbody tr td a.list_deny{
            background-image: url(/images/cross.png);
        }
        table tbody tr td a.list_document{
            background-image: url(/images/page_go.png);
        }
        table tbody tr td a.list_rate{
            background-image: url(/images/award_star.png);
        }
        table tbody tr td a.user_delete{
            background-image: url(/images/user_delete.png);
        }
        table tbody tr td a.user_orientacao{
            background-image: url(/images/group_go.png);
        }
        table tbody tr td a.user_orientacao_accept{
            background-image: url(/images/group_link.png);
        }
        table tbody tr td a.user_orientacao_deny{
            background-image: url(/images/group_delete.png);
        }
        table tbody tr td a.user_step{
            background-image: url(/images/user_go.png);
        }
        
        table tbody tr.over_limit{
            background-color:#ffc;
        }
    
div#content {
    background-color:#fbfbfb;    
}
div#content.last{
    padding:0px 20px;
    width:710px;
}
    div#content h2,
    div#content h3{
        margin-bottom:10px;
    }

/* proposta */
div#content.proposta{

}
    
    div#content.proposta h4, div#content.proposta h5{
        clear:both;
        float:left; 
    }
    div#content.proposta dl{
    }
        div#content.proposta dl dt{
            clear:both;
            float:left;
        }
        div#content.proposta dl dd{
            clear:both;
            float:left;
            margin-bottom:10px;
        }
            div#content.proposta dl dt a.comment_add{
                background:transparent url(/images/comment_add.png) no-repeat top left;                
                float:right;
                height:16px;
                margin: 0px 3px;
                outline:none;
                text-indent: -1999em;
                width:16px;
            }
            div#content.proposta dl dt span{
                
                float:left;
            }
    div#content.proposta ul.comentarios,
    div#content.artigo ul.comentarios,{
        clear:both;
        float:left;
        width:100%;
    }
    div#content.proposta a.comment_view,
    div#content.artigo a.comment_view{
        background:transparent url(/images/comment.png) no-repeat top left;                
        float:left;
        height:16px;
        margin: 0px 3px;
        outline:none;
        text-indent: -1999em;
        width:16px;
    }

/* artigo */
div#content.artigo ins, div#content.artigo ins *{
    background-color:#cfc;
    text-decoration:none;
}
div#content.artigo del, div#content.artigo del *{
    background:#fcc;
    text-decoration:none;
}
div#content.artigo ol#versions{
    border:1px solid #000;
    height:80px;
    list-style:none;
    overflow: auto;    
    width:460px;
}
    div#content.artigo ol#versions li{
        padding:1px 7px;
    }
        div#content.artigo ol#versions li a.voltar_versao{
            display:none;
        }
    div#content.artigo ol#versions li.selected{
        background-color:#9FE1FF;
    }
        div#content.artigo ol#versions li.selected a.voltar_versao{
            display:inline;
            float:right;
        }
    div#content.artigo ol#versions li.selected_next{
        border-left: 5px solid #9FE1FF;
        padding-left:2px;
    }

/* dashboard */
div#content.home{
    
}
    div#content.home div.dashboard_box{
        background-color:#EAEAEA;
        border-radius:10px;
        height:108px;
        margin-bottom:20px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
    }
        div#content.home div.dashboard_box h3{
            background-color:#888;
            border-radius:10px 10px 0px 0px;
            color:#fff;
            font-size:14px;
            font-weight:bold;
            padding: 7px 5px;
            margin-bottom:0px;
            -moz-border-radius:10px 10px 0px 0px;
            -webkit-border-radius:10px 10px 0px 0px;
        }
    div#content.home div.dashboard_box a{
        background:transparent url(/images/ico_artigo.png) no-repeat top left;
        float:left;
        height:60px;
        margin:10px;
        width:60px;
        text-indent:-1999em;
    }
    div#content.home div.dashboard_box a.cronograma{
        background-image:url(/images/ico_relogio.png);
    }
    div#content.home div#orientador_box p{
        font-size:16px;
        margin-top:10px;
        text-align:center;
    }

/* mensagem */
div#content.mensagem table tbody tr.unread td{
    font-weight:bold;
}

/* pager */
div.pagination{
    clear:both;
    text-align:center;
    
}
    div.pagination img{
        vertical-align:middle;
    }

/* footer */
footer{
    border-top:1px solid #ccc;
    padding-top:10px;
}
