/* gerais */
a{
    outline:none;
}

ul, ol {
    list-style-position: inside;
    margin:0px;
    padding:0px;
}

/* header */

header{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}
    header h1{
        margin-bottom:0px;
    }
        header h1 a{
            text-decoration:none;
        }
        header small{
            font-size:1em;
            margin-left:30px;
            font-style: oblique;
        }
        header div#tool_box{
            float:right;
        }
            header div#tool_box img{
                cursor:pointer;
            }
            header div#tool_box ul{
                display:none;
                position:absolute;
                list-style:none;                
                margin:-20px 0px 0px 11px;
                padding:20px 0px 0px 0px;
                width:150px;
            }
            header div#tool_box ul.show{
                display:block;
            }
                header div#tool_box ul li{
                    background-color:#fff;
                    border:1px solid #ccc;
                    margin-top:-1px;
                }
                header div#tool_box ul li:hover{
                    background-color:#dedede;
                }
                    header div#tool_box ul li a{
                        display:block;
                        padding:2px 5px;

                    }

/* menu */ 
div#nav_menu{
    
}
    div#nav_menu ul{
    }
        div#nav_menu ul li{            
        }
            div#nav_menu ul li ul{
            }
                div#nav_menu ul li ul li{
                    margin-left:15px;
                }


/* forms */
input[type=text],
input[type=password],
select,
textarea{
    border-radius:5px;
    clear:left;
    float:left;
    font-size:18px;
    padding:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
input[type=checkbox]{
    clear:none;
    float:left;
    font-size:18px;
    padding:5px;
}
label{
    clear:both;
    float:left;
    font-size:16px;
}
input[type=text].field_error,
input[type=password].field_error,
textarea.field_error{
    border-radius:5px 0px 0px 5px;    
    border-color:#fbc2c4;
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
}
input.button{
    float:left;
}
ul.error_list{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    border-left:none;
    border-radius:0px 5px 5px 0px;
    color:#8a1f11;
    float:left;
    list-style: none;
    margin:9px 0 0 0;
    padding:7px;
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
}
span#actions_bar{
    clear:both;
    float:left;
}
    span#actions_bar a{
        float:left;
    }

/* login */
div#content form#login fieldset{
    border-radius:10px;
    margin:20px 0px 20px 336px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

/* listagem */
table tbody tr td{
    vertical-align:top;
}
table tfoot tr td.results{
    text-align:right;
}
    table tbody tr td a.user_edit,
    table tbody tr td a.user_delete,
    table tbody tr td a.user_orientacao{
        background:transparent url(/images/user_edit.png) no-repeat top left;
        clear:none;
        float:left;
        height:16px;
        margin: 0px 5px;
        outline:none;
        text-indent: -1999em;
        width:16px;
    }
    table tbody tr td a.user_delete{
        background-image: url(/images/user_delete.png);
    }
    table tbody tr td a.user_orientacao{
        background-image: url(/images/group_go.png);
    }

/* pager */
div.pagination{
    clear:both;
    text-align:center;
    
}
    div.pagination img{
        vertical-align:middle;
    }

/* footer */
footer{
    border-top:1px solid #ccc;
    padding-top:10px;
}